.newProject_Container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2.5rem 35vw;
    background-color: #d1d1d1;
    
    
}

.newProject_Container h1 {
    margin-bottom: 3vw;
}

.newProject_Container p {
    color: #7b7b7b;
    text-shadow: 2px 2px 5px;
    font-size: 1.3rem;
}