.newProject_Container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2.5rem 35vw;
    background-color: #d1d1d1;
}

.newProject_Container h1 {
    margin-bottom: 3vw;
}

.newProject_Container p {
    color: #7b7b7b;
    text-shadow: 2px 2px 5px;
    font-size: 1.3rem;
}

@media (max-width:620px) {
    .newProject_Container {
        padding: 2.5rem 30vw;
    }
}

@media (max-width:470px) {
    .newProject_Container {
        padding: 2.5rem 25vw;
    }
}

@media (max-width:380px) {
    .newProject_Container {
        padding: 2.5rem 20vw;
    }
}