.projects_container {
    padding: 2rem;
    width: 100%;
    background-color: #d1d1d1;
}

.container_tittle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;

}

@media (max-width: 400px){
    .container_tittle h1 {
        font-size: 1.5rem;
        
    
    }

}